body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif ;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.application-header {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif ;
  text-transform: uppercase;
}
.application-header p {
  color: #283136;
}

.main-header {
  font-size: 55px;
  line-height: 55px;
  color: black;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif ;
}

a {
  text-decoration: none;
}

.header-navigation {
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.description1 {
  background-color: #eeeeee;
  background-image: url("../img/slide1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.description2 {
  background-color: #eeeeee;
  background-image: url("../img/slide2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.description3 {
  background-color: #eeeeee;
  background-image: url("../img/slide3.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-navigation-list a {
  color: black;
  font: inherit;
}

 .header-menu-item a:hover,
 .header-menu-item a:focus {
  color: #fb565a;
}

.header-menu-item a:active {
  color: rgba(0, 0, 0 , 0.3);
}

.description-advertisment {
  font-size: 55px;
  line-height: 55px;
  color: black;
}

.description-more {
  color: #283136;
}

.features-advertisment {
  font-size: 45px;
  line-height: 45px;
}
.features-advertisment p {
    color: #283136;
}

.features-menu {
  text-transform: uppercase;
  font-weight: bold;
}

.fetures-list {
  color: #283136;
}

.statistics caption {
  text-transform: uppercase;
  font-weight: bold;
}

.statistics th {
  font-size: 45px;
  line-height: 10.06px;
}

.statistics td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.footer-contacts h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.footer-social p:first-child {
  font-size: 36px;
  line-height: 36px;
}

.footer-social p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.modal input,
.modal textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  font-weight: normal;
  border: 2px solid #d7dcde;
}

.modal input:hover,
.modal textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  color: #444444;
  border: 2px solid black;
  outline: none;
}

.modal input:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.variants-list,
.features ul,
.links ul,
.footer-social ul {
  list-style: none;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: white;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.type1 {
 background-color: #fb565a;
}

.type1:hover,
.type1:focus {
   background-color: #e74246;
}

.type1:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.type2 {
  background-color: #00ca74;
}

.type2:hover,
.type2:focus {
  background-color: #00bc6c;
}

.type2:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.type3 {
  background-color: #efc84a;
}

.type3:hover,
.type3:focus {
  background-color: #eab534;
}

.type3:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.links-logo {
  opacity: 0.2
}

.links-logo:hover,
.links-logo:focus {
  opacity: 1;
}

.links-logo:active {
  opacity: 0.1;
}

.header-active {
  color: black;
  border-bottom: 1px solid #fb565a;
}

.main-header {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color:  #eeeeee;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter .filter-input-radio + label:hover {
  color: black;
}

.filter .filter-input-radio + label:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter .filter-input-checkbox + label:hover {

}

.filter .filter-input-checkbox + label:disabled{
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: black;
  background-color: rgba(238, 238, 238, 0.3);
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.separator p {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.separator ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.separator-link {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: black;
  opacity: 0.3;
}

.separator-link:hover {
  color: black;
  opacity: 0.6;
}

.separator-link:active {
  color: black;
  opacity: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu h3 + p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.type4 {
  background-color: #fb565a;
}

.type4:hover,
.type2:focus {
  background-color: #e74246;
}

.type4:active {
  background-color: #d7373b;
}

.menu-decoration {
  background-color: #eeeeee;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font: inherit;
  color: black;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
  border: 3px solid #dbdbdb;
  background-color: white;
}

.pagination-item-next a {
  text-transform: uppercase;
}

.menu-item li:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25); /*не работает пока*/
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 49px;
  outline: 1px solid black;
}

.header-navigation-list {
  width: 800px;
  margin-left: 200px;
}

.variants-wrapper {
  width: 1100px;
  margin-left: 140px;
  margin-right: 200px;
}

.variants-list {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
  justify-content: space-between;
}

.variants-list li {
  width: 300px;

}

.variants-list li:last-child {
  margin-right: 0;
}


.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
  width: 1160px;
  margin: auto;
}

.features {
  width: 660px;
}

.statistics {
  width: 360px;
  margin-left: 140px;
}

.links-list {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  outline: 1px solid black;
  min-height: 185px;
}

.links-list li {
  width: 260px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid black;
}

.footer-social-wrapper {
  width: 560px;
  order: 1;
}

.social-button-list {
  width: 260px;
  margin-right: 140px;
  margin-left: 139px;
}

.main-inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: auto;
  outline: 1px solid black;
}

.filter-wrapper {
  width: 260px;
  margin-right: 140px;
}

.menu-wrapper {
  width: 760px;
}

.menu-item-list {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu-item-list li {
  width: 360px;
}

.menu-item-list li:nth-child(2n) {
  margin-left: 40px;
}
